body{
  width:100%;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}
body img{
  width:100%;
  display:block;
}
h1{
  font-size:0;
}
h2{
  font-size:30px;
}
.memoArea{
  max-width:1200px;
  width:100%;
  margin:0 auto;
}
.memoTitle{
  background:#eee;
  padding:50px;
  margin-bottom:50px;
}
.memoContent{
  display:flex;
  justify-content:space-between;
  align-content: center;
  flex-flow:wrap;
}
.memoContent figure{
  width:30%;
  margin:0;
}
