body,ul,li,dl,dd,dt,figure{
  margin:0;
  padding:0;
}
h1{
  display:none;
}
.iphoneArea{
  max-width:800px;
  margin:50px auto;
  border:1px solid #eee;
  padding:50px;
  background:#f9f9f9;
  border-radius: 10px;
}
.iphoneArea img{
  width:30%;
  display:block;
  margin:0 auto;
}
.figureArea h2{
  font-size:3em;
}
.figureArea figure{
  position:relative;
}
.figureArea figure span{
  position: absolute;
  bottom:110px;
  left:230px;
  font-size:20px;
  font-weight:400;
}

.exchangeInfo p{
  font-size:20px;
  color:blue;
  font-weight:400;
}
.iphoneContent{
  width:100%;
}
.iphoneContent dl{
  display:flex;
  justify-content:space-between;
  margin:20px 0;
  border:1px solid #ccc;
  border-radius: 5px;
  overflow:hidden;
}
.iphoneContent dl dt{
  width:160px;
  line-height:46px;
  font-size:18px;
  padding:0 34px;
  background:#eee;
}
.iphoneContent dl dd{
  width:100%;
  border-radius: 5px;
}
.iphoneContent input{
  width:95%;
  height:100%;
  padding:0 15px;
  border-radius:5px;
  border:0;
  font-size:18px;
}
.iphoneContent select{
  width:100%;
  padding:10px 15px;
  border-radius:5px;
  border:0;
  font-size:20px;
  height:45px;
}
.iphoneContent button{
  display:block;
  width:150px;
  padding:15px 20px;
  margin:30px auto;
  text-align:center;
  background:#007bff;
  border-radius:5px;
  border:1px solid #007bff;
  color:#fff;
  font-size:20px;
  cursor:pointer;
}
.iphoneContent button:hover{
  background-color:#0062cc;
  border-color:#005cbf;
}